PORT=<>

NODE_ENV=<>
NETWORK=<>

CONFIRMATION_COUNT=<>

##local
MYNEERC721_NFT_CONTRACT_ADDRESS=<>
MYNEERC1155_NFT_CONTRACT_ADDRESS=<>
PROXY_ADDRESS=<>
ENGLISH_AUCTION_ADDRESS=<>
DUTCH_CONTRACT_ADDRESS=<>

##local
HTTP_NETWORK_URL=<>
WS_NETWORK_URL=<>

POLYGON_EXPLORER=<>
MONGO_URI=<>

POLYSCAN_API_KEY=<>
ALCHEMY_API_KEY=<>
ALCHEMY_ENDPOINT_POLY=<>
BASE_EXPLORER_API_URL=<>