PORT=8080

NODE_ENV=development
NETWORK=testnet

CONFIRMATION_COUNT=10

##local
DECENTRALAND_NFT_CONTRACT_ADDRESS=0x2a8f29Af75A26eFD76Fa67DEF651f6295514A546
ENS_NFT_CONTRACT_ADDRESS=0x3B2ba28F5b8bE9249C25B51390525103452a4d4C
ENGLISH_AUCTION_ADDRESS=0x97b28A8eF31977e00c1e9CBFd10BDc1745D87EE3
PROXY_ADDRESS=0x7afC8F6e33b1Dc13Efb4ce9d773E58cE0A3b93F9
DUTCH_CONTRACT_ADDRESS=0x0608DbAcfDe555C56dE0CB17e101B0C761161181

##local
HTTP_NETWORK_URL=http://localhost:8545
WS_NETWORK_URL=ws://localhost:8545

#local
MONGO_URI=mongodb+srv://admin:admin@testcluster.f41zx.mongodb.net/DEXA?authSource=admin&replicaSet=atlas-3mrvyl-shard-0&readPreference=primary&appname=MongoDB%20Compass&ssl=true